.container {
  background-color: yellow;
}

.chk-custom {
  height: 50px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chk-custom .thumb {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 50px;
}

.chk-custom img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 50px;
}

.chk-custom input[type="checkbox"] {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.chk-custom input[type="checkbox"]:checked + .thumb {
  border: 2px solid blue;
}

.chk-custom input[type="checkbox"]:checked + img {
  border: 2px solid blue;
}
