// -----------------------------------------------------------------------------
// Common variables
// -----------------------------------------------------------------------------

// Color variables
$white: #ffffff;
$dark: #000;

// Body color
$body-bg: $white;
